html, body
{
    margin: 0;
    padding: 0;
    background-color:rgb(228, 228, 228);
    
    font-family:'Quicksand', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color:white;
    text-decoration:none;
    opacity:1;
}

/*
BANNER
*/

#banner{
    width:100%;
    height:120px;

    position:absolute;
    background-color:rgba(0, 0, 0, 0.4);
}

navbutton {
    margin-top:100px;
    
    height:300px;

    font-size:20px;
    font-family:"Quicksand";

    border-bottom: 0px solid white;

    transition:border-bottom .15s;
    opacity:1;
}

navbutton:hover {
    border-bottom: 3px solid rgb(255,255,255);
}

#logo {
    position:absolute;
    top:30px;
    left:30px;

    width:80px;
    height:80px;

    cursor:pointer;
}

/*
NAVIGATION BUTTONS
*/

#about-us {
    position:relative;
    left:76.1%;
    top:58px;
}

#contact-us {
    position:relative;
    left:91%;
    top:58px;
}

#photos-videos {
    position:relative;
    left:56%;
    top:58px;
}

#upcoming-events{
    position:relative;
    left:31%;
    top:58px;
}

/*
BANNER-EXTEND
*/


#banner-extend {

    margin-top:-90px;

    height:500px;
    width:100%;
    
    background-image:url('../photos/bannerextend2.jpg');
    background-position:center bottom;
    background-repeat:fixed;

    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}


#banner-extend h1 {
    color:white;
    font-family:"Quicksand";
    font-size:80px;
    text-shadow:3px 3px black;
    
    position:relative;
    text-align:center;
    top:230px;
}

#banner-extend p {
    color:white;
    font-family:"Quicksand";
    font-size:20px;
    text-shadow:2px 2px black;
    
    position:relative;
    text-align:center;
    top:160px;
}

/*
CONTENT HOLDER MAIN
*/

#content-holder-main {
    top:-20px;
    z-index: 10;

    height:600px;

    background-image:url('../photos/backgroundimage3.jpg');
    background-repeat:center;
    background-repeat:fixed;
}

#content-holder-h1-div {
    position:relative;
    width:90%;
    left:05%;
    top:0px;

    font-weight:100;
    color:black;
    text-align:center;

    border-bottom:3px solid white;
}

/*
NAV DIV STUFF
*/

#nav-div {
    position:relative;

    top:-30px;
    
    width:90%;
    left:5%;

    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);

    text-align:center;
    display:inline-block;
}

.nav-div-button {
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;

    width:350px;
    height:200px;
    
    display:inline-block;

    text-align:center;
    
    background-color:red;

    cursor:pointer;
}

.nav-div-button h1 {
    position:absolute;
    width:90%;
    left:5%;
    top:20%;

    color:white;
    text-shadow:2px 2px black;
}

#nav-div-button-rpc {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../photos/rpcpa/IMG_4555.JPG');
    background-position: center center;

    background-size:350px 200px;
}

#nav-div-button-dp {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../photos/dp/IMG_0651.JPG');
    background-position: center center;

    background-size:350px 220px;
}

#nav-div-button-rpcpa {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../photos/rpcpa/IMG_4562.JPG');
    background-position: center center;

    background-size:350px 250px;
}

/*
CONTENT HOLDER PHOTOS RPC
*/

.content-holder-photos {
    position:relative;

    margin-bottom:20px;
    
    width:90%;
    left:5%;
    
    display:inline-block;
    text-align:center;

    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.content-holder-photos img {
    max-width:500px;
    max-height:300px;
}