html, body
{
    margin: 0;
    padding: 0;
    
    font-family: "Antic Slab", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    scroll-behavior: smooth;
}

#overlay {
    position:fixed;

    width:0%;
    height:0%;

    z-index:1002;
    background-color:rgba(0,0,0,.8);
    overflow:hidden;

    text-align:center;
}

#specific-image {
    position:relative;

    max-height:650px;

    top:50px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8)
}

#exit-image-button {
    position:absolute;
    left:90%;
    top:-800px;

    color:white;
    opacity:0%;

    width:0px;
    height:0px;

    cursor:pointer;

    transition:font-size .3s;
}

#exit-image-button:hover {
    font-size:35px;
}

#header {
    width:100%;
    height:100px;
}

#logo {
    position:absolute;
    width:90px;

    left:50px;
    top:5px;

    z-index:1002
}

#banner-button-area {
    top:0px;
    position:absolute;
    width:100%;
    height:100px;

    z-index:1001;

    text-align:right;
}

.banner-button {
    position:relative;
    display:inline-block;

    top:10px;

    height:50px;
    width:100px;

    right:25px;
    margin:10px;

    color:white;

    border-right:1px solid white;
    border-left:1px solid white;

    z-index:1001;
    cursor:pointer;

    text-align:center;

    transition: background-color .3s, color .3s;
}

.banner-button:hover {
    background-color: white;
    color:black;
}

.banner-button h3 {
    position:relative;
    top:-5px;
}

#header-extend-photo {
    position:absolute;

    top:-50px;
    width:100%;
    height:600px;

    background: linear-gradient( rgba(70, 0, 0, 0.5), rgba(2, 0, 117, 0.5) ), url('../../photos/bannerextend2.jpg');
    font-family:"Raleway";
    color:white;
}

#opening-message {
    font-size:70px;
    color:white;
}

#opening-message-description {
    position:relative;
    font-size: 30px;
    color:white;
    top:0px;
}

#header-extend-true {
    position:relative;
    width:100%;
    height:450px;

    overflow:scroll;
    text-align:center;
}

#header-extend-true div {
    position:relative;

    width:40%;
    min-width:500px;

    top:40px;
    text-align:left;
    vertical-align:top;
    padding:30px;

    margin:auto;

    display:inline-block;
    margin-bottom:10px;
}

#header-extend-content-div-right{
    position:relative;

    border-left:1px solid white;
    height:300px;

    margin-bottom:10px;
}


#content-holder{
    position:relative;
    
    width:100%;
    top:-20px;
    
    background-color:rgb(245, 245, 245);

    text-align:center;
}

#content-holder h1 {
    position:relative;
    top:10px;
}

.photo-div {
    position:relative;

    width:90%;
    left:5%;

    border:1px solid black;
}

.photo-div img {
    margin:10px;
    max-width:300px;

    cursor:pointer;
}

.photo-div video {
    margin:10px;
    max-width:300px;

    cursor:pointer;
}

.media-direct-button {
    position:relative;

    width:300px;
    height:50px;

    margin-bottom:10px;

    border:1px solid white;
    color:white;

    text-align:center;

    transition: background-color .3s, color .3s;

    cursor:pointer;
}

.media-direct-button:hover {
    background-color:white;
    color:black;
}

.media-direct-button h3 {
    position:relative;
    top:-3px;
}